
.dataTables_filter {
    display: inline-block;
    width: 50%;
    padding: 8px;

}

.dataTables_filter label {

}

.dataTables_filter label input {
    padding: 4px;
    margin: 4px;
}


input {
    background-color: #ffffff;
    border: none;
    padding: 12px 15px;
    margin: 16px 0;
    transition: 0.02s ease all;

}

input:focus {
    outline: none;
    border-bottom: 2px solid #3378ff;
}


/* webkit solution */
::-webkit-input-placeholder {
    text-align: right;
}

/* mozilla solution */
input:-moz-placeholder {
    text-align: right;
}

.dataTables_length {
    display: inline-block;
    width: 50%;
    padding: 8px;

}

.dataTables_length label select {
    height: 46px;
    border: 1px solid #f1f1f1;
    background-color: white;
    appearance: none;
    text-align: center;
    padding: 8px;
    margin: 4px;
}

select:focus {
    color: #01041b;
    border-color: #3378ff !important;
    box-shadow: none;
    outline: none;
}



.dataTables_info {

    display: inline-block;
    width: 50%;
    padding: 8px;

}

.dataTables_paginate {
    display: inline-flex;
    width: 50%;
    padding: 8px;

}

.dataTables_paginate span {
    display: flex;

}


.paginate_button {
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #3378ff;
    background-color: #fff;
    border: 1px solid #3378ff;
}

.current {

    z-index: 3;
    color: #fff;
    background-color: #3378ff;
    border-color: #3378ff;
}

.next {
    border: 1px solid #3378ff;
    color: #3378ff;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    margin-left: 0;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
}

.previous {

    border: 1px solid #3378ff;
    color: #3378ff;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    margin-left: -1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
}

.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #ccced2;

}

.paginate_button:hover {

    z-index: 2;
    color: #004ee6;
    text-decoration: none;
    background-color: #e9ecef;
}

.current:hover {
    z-index: 3;
    color: #fff;
    background-color: #3378ff;
    border-color: #3378ff;

}

.ellipsis {
    margin: 4px;
}

.card-header span {

    color: #213446;
    font-size: 1.563rem;
    font-weight: 700;
}