<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/frontend/css/bootstrap.css">
</head>
<body>
<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">هشدار های خطی اصلی</h4>
                        </div>
                        <div class="header-action">
                            <i data-toggle="collapse" data-target="#alert-3">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
                                </svg>
                            </i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="collapse" id="alert-3">
                            <div class="card"><kbd class="bg-dark"><pre id="basic-alert" class="text-white"><code>
&lt;div class="alert alert-primary" role="alert"&gt;
   &lt;div class="iq-alert-text"&gt;A simple &lt;b&gt;primary&lt;/b&gt; alert—check it out!&lt;/div&gt;
&lt;/div&gt;
</code></pre>
                            </kbd></div>
                        </div>
                        <div class="alert bg-white alert-primary" role="alert">
                            <div class="iq-alert-text">یک نمونه ساده  <b>رنگ اصلی</b></div>
                        </div>
                        <div class="alert bg-white alert-secondary" role="alert">
                            <div class="iq-alert-text">یک نمونه ساده <b>رنگ دوم</b></div>
                        </div>
                        <div class="alert bg-white alert-success" role="alert">
                            <div class="iq-alert-text">یک نمونه ساده <b>موفقیت آمیز</b></div>
                        </div>
                        <div class="alert bg-white alert-danger" role="alert">
                            <div class="iq-alert-text">یک نمونه ساده <b>خطرناک</b></div>
                        </div>
                        <div class="alert bg-white alert-warning" role="alert">
                            <div class="iq-alert-text">یک نمونه ساده <b>هشدار</b></div>
                        </div>
                        <div class="alert bg-white alert-info" role="alert">
                            <div class="iq-alert-text">یک نمونه ساده <b>اطلاعات</b></div>
                        </div>
                        <div class="alert bg-white alert-light mb-0" role="alert">
                            <div class="iq-alert-text">یک نمونه ساده <b>روشن</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">هشدار های خطی اصلی با پس زمینه</h4>
                        </div>
                        <div class="header-action">
                            <i data-toggle="collapse" data-target="#alert-5">
                                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
                                </svg>
                            </i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="collapse" id="alert-5">
                            <div class="card"><kbd class="bg-dark"><pre id="basic-alert" class="text-white"><code>
&lt;div class="alert alert-primary" role="alert"&gt;
   &lt;div class="iq-alert-text"&gt;A simple &lt;b&gt;primary&lt;/b&gt; alert—check it out!&lt;/div&gt;
&lt;/div&gt;
</code></pre>
                            </kbd></div>
                        </div>
                        <div class="alert text-white bg-primary" role="alert">
                            <div class="iq-alert-text">یک نمونه ساده  <b>رنگ اصلی</b></div>
                        </div>
                        <div class="alert text-white bg-secondary" role="alert">
                            <div class="iq-alert-text">یک نمونه ساده <b>رنگ دوم</b></div>
                        </div>
                        <div class="alert text-white bg-success" role="alert">
                             <div class="iq-alert-text">یک نمونه ساده <b>موفقیت آمیز</b></div>
                        </div>
                        <div class="alert text-white bg-danger" role="alert">
                            <div class="iq-alert-text">یک نمونه ساده <b>خطرناک</b></div>
                        </div>
                        <div class="alert text-white bg-warning" role="alert">
                            <div class="iq-alert-text">یک نمونه ساده <b>هشدار</b></div>
                        </div>
                        <div class="alert text-white bg-info" role="alert">
                           <div class="iq-alert-text">یک نمونه ساده <b>اطلاعات</b></div>
                        </div>
                        <div class="alert bg-light mb-0" role="alert">
                           <div class="iq-alert-text">یک نمونه ساده <b>روشن</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>